.card-list {
  width: 92vw;
  margin: 0px auto 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.card-details-title {
  margin: 10px 0px;
  font-size: 1.3em;
  font-weight: 600;
}

.card-details-content {
  margin: 10px 0px;
  font-size: 1em;
}
